/LogsManager.Web/Properties/
/LogsManager.Web/bin/
/LogsManager.Web/obj/
/LogsManager.DBUtility/Properties/
/LogsManager.DBUtility/bin/
/LogsManager.DBUtility/obj/
/LogsManager.Model/Properties/
/LogsManager.Model/bin/
/LogsManager.Model/obj/
/LogsManager.DAL/Properties/
/LogsManager.DAL/bin/
/LogsManager.DAL/obj/
/LogsManager.Common/Properties/
/LogsManager.Common/bin/
/LogsManager.Common/obj/
/LogsManager.BLL/Properties/
/LogsManager.BLL/bin/
/LogsManager.BLL/obj/
